


{% extends 'base.html' %}
{% block content %}
    <div class="row m-0 p-3 justify-content-center" id="categories">
    {% for c in categories %}
    <div id="{{ c.pk }}" class="col-12 p-3 rounded border m-1 font-weight-bold col-sm-6 col-md-3 col-lg-2" style="height: 100px">
        <h4>{{ c.name }}</h4>
    </div>
    {% endfor %}
    </div>
    <div class="row justify-content-center">
    <button id="next" class="btn btn-success">Next</button>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    <script>
    let category_pk = null;
    $("#categories div").on('click', function (e) {
       category_pk = this.id;
       $("#categories div").removeClass("bg-info");
       $(this).addClass("bg-info text-white");
       $("#next").fadeOut(100);
       $("#next").fadeIn(300);
    });
    </script>
    <script>
        $("#next").on('click', function () {
            console.log("next");
            if(category_pk !== null){
                console.log("ioio");
            $.ajax({
                url: '{% url "set_category" %}',
                type: 'post',
                data: {
                    'category_pk': category_pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (data) {
                    if (data['msg'] === 'success') {
                        location.reload();
                    }
                }
            })
        }

        });
    </script>
{% endblock script %}