{% load static %}
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
{#	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
{#	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{#	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Login</title>
</head>
<body  style="background-color: #54366d">
<nav class="navbar shadow" style="background-color:#54366d" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand font-weight-bold text-white" href="#">Novus</a>
    </div>
  </div>
</nav>
<div class="container py-5">
	<div class="row shadow rounded m-0 p-1">
		<div class="col-12 col-md-6 bg-light pt-4">
			<center><h1>The Quest</h1></center>
			<center><h2>Instructions</h2></center>
			<ol start="1" >
				<li>Round1:Everyone is allowed.</li>
				<li>Round2:only to 40% get to play.</li>
				<li>Round3:only to 6 teams get to play.</li>
			</ol>
		</div>
		<div class="col-12 col-md-6">
			<form class="text-white" action="{% url 'team_login' %}" method="post">
                {% csrf_token %}
                <h3>Login</h3>
				<hr>
				<div class="form-group">
					<label>Team Name</label>
					<input type="text" name="team_name" placeholder="someone kapoor" class="form-control">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" >
				</div>
				<div class="form-group">
					<button class="btn btn-success btn-md" type="submit">Log In</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>