{% extends 'base.html' %}
{% block content %}
    <p>Hello, <span class="text-success">{{ team.name }}</span> <a href="{% url 'team_logout' %}">logout</a></p>
    <hr>
    You have been selected <span class="text-info">{{ team.category }}</span>
    <hr>
    <div id="rounds">
        <div class="row p-2 m-0 justify-content-center" id="roundsdiv">
    {% for r in rounds %}
            <div class="card bg-dark col-12 col-md-3 p-2 m-2 shadow">
            <div class="card-header">
                Round {{ r.round }}
            </div>
            <div class="card-body">
                Brain Drain
            </div>
            <div class="card-footer font-weight-bold">
                {% if r.is_completed %}
                                        Completed <a href="{% url 'round_score' r.pk %}" class="badge badge-success badge-pill">Check Score</a>
                    {% elif r.is_live %}

                    {% if r.round == 3 %}
                        <a href="{% url 'round' r.pk %}?phase=1" class="p-1 border m-1">phase 1</a>
                        <a href="{% url 'round' r.pk %}?phase=2" class="p-1 border m-1">phase 2</a>
                        {% else %}
                        <a href="{% url 'round' r.pk %}" class="badge-pill bg-danger text-white">Live now</a>
                        {% endif %}

                {% else %}
                    <a class="text-muted">TBD</a>
                {% endif %}
            </div>
            </div>
    {% endfor %}
    </div>

    </div>

{% endblock content %}

{% block script %}
    {{ block.super }}
        <script>
    function reload_control(){
        $("#rounds").load(location.href+ " #roundsdiv");
        console.log('reloaded...');
    }
    tid2 = setInterval(reload_control, 3000);
    </script>

{% endblock script %}